*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-font-style: "Pixelify Sans", serif;
    --secondary-font-style: "Open Sans", serif;
    --font-light: #fcf5f5;
    --background-color: #faf8f6;
    --secondary-color: #0a0b00;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body,
h1 {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: var(--primary-font-style);
}

.container {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem;
    flex-grow: 1;
}

.left  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: var(--primary-font-style);
    text-align: center;
    font-size: 1.5rem;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 auto;
    gap: 2rem;
    width: 50%;
    margin-top: 1rem;
}

button, 
input {
    width: 100%;
    border: none;
    font-family: var(--font-style);
    font-size: 1.25rem;
    cursor: pointer;
}

button {
    padding: 10px 20px;
}

button.active {
    background-color: var(--secondary-color);
    color: var(--font-light);
}

button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.1);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  width: 80px;
  height: 80px;
  padding: 10px;
  border: none;
  background-color: transparent;
}

.size-value {
  margin-bottom: -20px;
  font-size: 1.2rem;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    outline: 25px darkred solid;
    border-radius: 25px;
    position: relative; 
    touch-action: none;
    overflow: hidden;
}

.grid-element {
    user-select: none;
}

footer {
    font-family: var(--secondary-font-style);
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    padding: 1.265rem;
    background-color: var(--secondary-color);
    color: var(--font-light);
 }

.github-logo {
    width: 30px;
    height: 30px;
}

/* Responsive Design hopefully :> */
@media only screen and (max-width: 700px) {
  .container {
    margin: 50px;
  }

  .title, button, input {
    font-size: 1rem;
  }

  .settings {
    width: 150px;
    gap: 16px;
  }

  .size-value {
    margin-bottom: -4px;
  }

  .grid {
    width: 300px;
    height: 300px;
  }

  footer {
    position: relative;
    margin-top: 2.5rem;
  }
}
